#enter{
    display: block;
    float: right;
    margin-bottom: auto;
    margin-top: auto;
    height: 30px;
    width: 200px;
}

span{
    padding: 3px;
    margin-top: 3px;
    display: block;
}

#exit{
    margin-top: 3px;
    padding: 4px;
    border: 1px solid;
    display: block;
    border-radius: 3px;
    color: black;
    text-align: center;
    width: 81px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}

#exit:hover{
    color: white;
    border: 1px solid white;
    background-color: black;
}